<div class="card-item-wrapper">
    <div class="address-details">
        <div>
            <h4>Addresss</h4>
            <div>119 Webb View Apt. 563, VC</div>
            <div>756.577.0352</div>
        </div>
        <div>
            <h4>Manager</h4>
            <div>Jorge Bowen</div>
        </div>
    </div>
    <div class="descirption-wrapper">
        <div class="description-header">
            Description
        </div>
        <div class="descirption-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur saepe ex rerum culpa esse tempora quod quos sit
            nihil! Voluptatum voluptatibus corrupti accusantium quaerat assumenda quisquam molestiae libero incidunt itaque.
        </div>
    </div>
</div>