.card-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

.card-inner {
    background-color: white;
    color: #979797;
    box-shadow: #e4e4e4 0px 0px 10px 2px;
    padding: 20px;
    border-radius: 8px;
}

.card-inner h4 {
    color: #545863;
}


.btn-wrapper {
    margin: 20px;
    text-align: center;
}

.btn-load-more {
    background: linear-gradient(to right, #4370E5, #478FDB);
    border: none;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
}
